* {
  font-weight: 75;
}

a {
  text-decoration: none;
}

a:visited {
  text-decoration: none;
}

body {
  background-image: url(../img/other/SELLOCOVACHO-1.png);

  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  margin: 0px;
}
.spread {
  height: 5vh;
}

a {
  color: black;
}

a:visited {
  color: black;
}

.title_container {
  background: rgba(255, 255, 255, 0.7);
  text-align: center;
  padding: top 500;
  height: auto;
  line-height: 10vh;
}

.titulo_edu {
  float: center;
  font-size: max(3vw, 20px);
}

/*------------------------------------------------------------------------------------------------------------------------------------------------*/

.boton_Obra-Terminada_container {
  background: rgba(255, 255, 255, 0.7);
  text-align: right;
  position: flex;
  float: left;
  width: 40vw;
  padding-right: 5vw;
  height: auto;
}

.texto_boton {
  margin-top: 10px;
  margin-bottom: 10px;
  width: auto;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  font-size: max(2vw, 20px);
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: rgba(255, 255, 255, 0.7);
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  text-align: center;
  float: right;
  height: 15vw;
  align-items: center;
  height: auto;
  left: 30vw;
  width: auto;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.ante-projectos,
.Obra-Terminada,
.quien-soy {
  height: 33%;
  background-color: rgba(255, 255, 255, 0.7);
  display: block;
  text-align: center !important;
  padding: 1vw;
  margin-left: 0px;
  margin-right: 0px;
  transition-property: background-color;
  transition-duration: 1s;
  transition-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
}

.ante-projectos:hover,
.Obra-Terminada:hover,
.quien-soy:hover {
  cursor: pointer;
  background-color: rgba(201, 201, 201, 0.7);
}

.texto_boton_dropdown {
  font-size: 2vh;
  padding-left: 2vw;
  padding-right: 2vw;
}

.ante-projectos:hover .texto_boton_dropdown,
.Obra-Terminada:hover .texto_boton_dropdown,
.quien-soy:hover .texto_boton_dropdown {
  font-weight: 300;
}
/*------------------------------------------------------------------------------------------------------------------------------------------------*/

.boton_microjardines {
  background-color: rgba(255, 255, 255, 0.7);
  text-align: left;
  position: flex;
  float: right;
  width: 100vw;
  padding-left: 5vw;
}

.dropdown2-content {
  display: none;
  position: absolute;
  background-color: rgba(255, 255, 255, 0.7);
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  text-align: center;
  float: left;
  height: 15vw;
  align-items: center;
  height: auto;
  right: 30vw;
  width: auto;
}

.dropdown2:hover .dropdown2-content {
  display: block;
}

.proceso,
.catalogo {
  height: 33%;
  background-color: rgba(255, 255, 255, 0.7);
  display: block;
  text-align: center !important;
  padding: 1vw;
  margin-left: 0px;
  margin-right: 0px;
  transition-property: background-color;
  transition-duration: 1s;
  transition-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
}

.proceso:hover,
.catalogo:hover {
  cursor: pointer;
  background-color: rgba(201, 201, 201, 0.7);
}

.texto_boton_dropdown_2 {
  font-size: 2vh;
  padding-left: 3vw;
  padding-right: 3vw;
}

.proceso:hover .texto_boton_dropdown_2,
.catalogo:hover .texto_boton_dropdown_2 {
  font-weight: 300;
}

/*------------------------------------------------------------------------------------------------------------------------------------------------*/

.spread-2 {
  height: 20vh;
}

.barra-redes {
  background: rgba(255, 255, 255, 0.7);
  width: 100%;
  min-width: 100%;
  overflow: hidden;
  height: 5vh;
  line-height: 5vh;
  margin-top: 45vh;
  height: auto;
}

.emails {
  float: left;
  display: inline-flex;
  font-weight: 200;
  width: 40%;
  text-align: left;
  padding-left: 10%;
  font-size: max(1vw, 11px);
}
.telf {
  float: right;
  display: inline-flex;
  font-weight: 200;
  width: 40%;
  text-align: right;
  padding-right: 10%;
  font-size: max(1vw, 11px);
}

.contact-info {
  line-height: 4vh;
  height: 4vh;
  width: 100%;
  padding: 0 0;
}
